body {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 400;
}

button {
	outline: none;
	cursor: pointer;	
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.header {
	padding-top: 77px;
	padding-bottom: 96px;
	color: #000000;
}

.header-img {
	display: inline-block;
	width: 42%;
	vertical-align: middle;
}

.header-offer {
	display: inline-block;
	width: 55%;
	vertical-align: middle;
}

.header-text {
	max-width: 530px;
}

.header-text__title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 15px;
}

.header-text__subtitle {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 35px;
}

.header-text__descr {
	line-height: 27px;
	margin-bottom: 47px;
}

.header-text__price {
	color: #313131;
	font-size: 48px;
	margin-bottom: 53px;
}

.btn {
	padding: 22px 44px;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	color: #fff;
	font-family: Tahoma;
	background: #f05a22;
	border: none;
	border-radius: 5px;
	margin-right: 40px;
}

.btn-o {
	padding: 20px 44px;
	border: 2px solid #f05a22;
	background: transparent;
	color: #f05a22;
}


.section-title {
	text-align: center;
	margin-bottom: 91px;
	font-size: 30px;
	font-weight: 700;
	color: #333333;
}

.features-block {
	display: inline-block;
	text-align: center;
	width: 25%;
	float: left;
}

.features-wrap::after {
	content: "";
	display: table;
	clear: both;
}

.features {
	background: #f2f2f2;
	padding-top: 90px;
	padding-bottom: 100px;
}

.features-block__text {
	line-height: 22px;
}

.features-block__img {
	min-height: 55px;
}