body {
  color: #000;
  font-family: 'Ubuntu', sans-serif; }

.container {
  width: 1140px;
  margin: 0 auto; }

section {
  background-color: #f9f9f9; }

.title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 130px;
  font-size: 36px;
  font-weight: 400; }

.instruments {
  display: flex;
  justify-content: space-between; }

.text {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 100px; }
  .text .name {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 300; }
  .text .price {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 700; }
  .text .btn {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #23bac1;
    background-color: transparent;
    padding: 22px 73px;
    color: #23bac1; 
    bgc
  }
