* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

.container {
  width: 1540px;
  margin: 0 auto; }

.wrapper {
  display: flex; }

.section {
  background: url(../img/bg.jpg) center center/cover;
  min-height: 100vh; }

.offer {
  padding-top: 189px; }
  .offer h1 {
    color: #7c6db0;
    font-size: 60px;
    margin-bottom: 38px;
    line-height: 59px; }
  .offer h2 {
    width: 409px;
    height: 70px;
    background-color: #7f70b1;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    line-height: 65px;
    margin-bottom: 94px;
    margin-left: 2px; }

.descr {
  display: flex;
  align-items: center;
  color: #000000;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px; }
  .descr img {
    margin-right: 39px;
    margin-left: 8px; }

a {
  display: inline-block;
  margin-top: 116px;
  margin-left: 3px;
  width: 360px;
  height: 80px;
  margin-right: 26px;
  border: none;
  text-align: center;
  line-height: 76px;
  font-size: 22px;
  font-family: "Roboto Slab";
  font-weight: 700; }

.blue {
  width: 360px;
  height: 80px;
  box-shadow: 0 2px 16px rgba(0, 215, 255, 0.44);
  background-color: #1eb8b0;
  background-image: linear-gradient(-230deg, #01c4e0 0%, #01b3e0 100%);
  border: 2px solid transparent;
  color: #ffffff; }

.white {
  border: 2px solid #01b3e0;
  color: #01b3e0;
  margin-left: -1px; }

.image {
  margin-top: 40px;
  margin-left: 44px;
  border: 2px solid transparent; }
